@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

body 
{
    background-color: rgb(45, 45, 45);
    color: white;
}

.App{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3rem 5rem;
    border: 2px solid red;
}
input {
    padding: .5rem 1rem ;
    font-size: 1.25rem;
    color: black;
    outline: none;
    border: none;
    margin-bottom: 3rem;
}
.container 
{
    border: 2px solid white;
    display: grid;
    gap: 1rem;
}

.movieContainer {
    padding: 2rem;
    position: relative;
}
.movieContainer .year 
{
    position: absolute;
    top: .85rem;
    left: 2rem;
}
.movieContainer img 
{
    width: 250px;
    height: 300px;
    border: 1px solid red;
    object-fit: cover;
    object-position: center;
}
